* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
    font-family: Garamond, sans-serif;
    background: url(images/content-bg.png) right repeat-y #FFFADA;
}

h1 {
    font-size: 4.0em;
}

h3 {
    font-size: 2.0em;
    text-align: center;
    font-style: italic;
    padding-bottom: 10px;
}
p, li {
    font-size: 1.6em;
}

.clear {
    clear: both;
}

#header {
    background: #e3da9d;
    padding: 15px 0 15px 15px;
    padding-left: 50px;
}

#content {
    padding: 15px 30px 0 0;
}
#main-content {
    margin-right: 175px;
    max-width: 600px;
    padding: 10px;
}

#sidebar {
    width: 240px;
    float: right;

}
#sidebar ul {
    list-style: inside;
}

#sidebar ul {
    list-style: inside;
}
#sidebar li {
    padding-bottom: 8px;
}


.definition .defined {
    color:red;
    font-weight: bold;
    font-style: italic;
}

p.header {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;    
	
}

p.header span {
    font-style: italic;
}

blockquote.definition ol {
  counter-reset: list;
}
blockquote.definition ol > li {
  list-style: none;
}
blockquote.definition ol > li:before {
  content: "(" counter(list, lower-alpha) ") ";
  counter-increment: list;
  font-weight: bold;
  font-style: italic;  
}

.hasdefinition {
    border-bottom: 2px dotted;
    font-style: italic;
}


* {
//    border: 1px solid red;
}

#th1 {
  grid-area: th1;
}
#th2 {
  grid-area: th2;
}
#th3 {
  grid-area: th3;
}
#t1 {
    grid-area: t1;
}
#b1-2a {
    grid-area: b1-2a;
}
#b1-2b {
    grid-area: b1-2b;
}
#b1-3a {
    grid-area: b1-3a;
}
#b1-3b {
    grid-area: b1-3b;
}


#container {
  display: grid;
  grid-template-areas:
      'th1 th1   th1'
      't1  b1-2a th2'
      't1  b1-2b th2'
      't1  b1-2b th2'
      't1  b1-2b th2'	            
      't1  b1-3a th3'
      't1  b1-3b th3'
      't1  b1-3b th3'
      't1  b1-3b th3';	  
   
  grid-gap: 0px;
  justify-content: start;
  //background-color: #FFFADA;
  //padding: 10px;
  width: auto;
}

#container > div {
    //background-color: rgba(255, 255, 255, 0.8);
    //text-align: center;
    //padding: 20px 0;
    font-size: 25px;
}

.branchleftbottom {
    height: 15px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;    
}


.branchleft {
    height: 45px;
    border-left: 2px solid black;    
}

.branchbottom {
    height: 30px;
}

.trunk, .branch {
    width: 50px;
}

